<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium framework">



	<listeners>
	
	   <listener class-name= "com.selenium.extentReportListener.ExtentReportListener"></listener>
	
	</listeners>
	
	
  <test name="Test 1">
      <parameter name="browser" value="chrome"/>
      <classes>
        <class name="com.selenium.testCases.TC_LoginTest_001"/>   
  <!--     <class name="com.selenium.testCases.TC_LoginDDT_002"/> --> 
        
      </classes>
  </test> 
   
</suite> 
